<form action="/user/create-session" method="POST">
  <input type="email" placeholder="Enter email" required />
  <input type="password" placeholder="enter password" />
  <button type="submit">Sign In</button>
</form>
