<form action="/user/create-session" method="POST">
  <input type="email" name="email" placeholder="Enter email" required />
  <input type="password" name="password" placeholder="enter password" />
  <button type="submit">Sign In</button>
</form>
<p>
  <a href="/user/auth/google">Google SignIn/SignUp</a>
</p>
